.navigation{ 
    margin: 25px; 
}



#aboutTitle{ 
    font-family: 'Montserrat', sans-serif;  
    font-size: 40px;
    margin-left: 120px; 
    margin-top: 50px;
}

.hero-body{ 
    margin-left: 100px; 
    margin-right: 100px; 
  }

.footerContainer{ 
    margin-right: 100px; 
    margin-left: 100px; 
    margin-bottom: 50px; 
    margin-top: 30px;
}