.navigation{ 
    margin: 25px; 
}

.hero-body{ 
    margin-left: 130px; 
    margin-right: 130px; 
}

.imageGallery{ 
    margin-right: 120px; 
    margin-left: 120px; 
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .footerContainer{ 
    margin-right: 100px; 
    margin-left: 100px; 
    margin-bottom: 50px; 
    margin-top: 30px;
}