.navigation{ 
    margin: 25px; 
}


.hero-body{ 
    margin-left: 100px; 
    margin-right: 100px; 
  }

.randomTitle{ 
    margin-left: 120px; 
    margin-right: 120px; 
    margin-top: 50px;
}

.footerContainer{ 
    margin-right: 100px; 
    margin-left: 100px; 
    margin-bottom: 50px; 
    margin-top: 30px;
}
